=begin
领签开发平台接口调试工具

\u6B64\u5DE5\u5177\u65E8\u5728\u5E2E\u52A9\u5F00\u53D1\u8005\u68C0\u6D4B\u8C03\u7528\u3010\u9886\u7B7E\u5F00\u53D1\u8005API\u3011\u65F6\u53D1\u9001\u7684\u8BF7\u6C42\u53C2\u6570\u662F\u5426\u6B63\u786E\uFF0C\u63D0\u4EA4\u76F8\u5173\u4FE1\u606F\u540E\u53EF\u83B7\u5F97\u670D\u52A1\u5668\u7684\u9A8C\u8BC1\u7ED3\u679C\u3002

OpenAPI spec version: 1.0.0
Contact: apiteam@linksign.cn
Generated by: https://github.com/swagger-api/swagger-codegen.git

License: Apache 2.0
http://www.apache.org/licenses/LICENSE-2.0.html


=end

require "uri"

module SwaggerClient
  class SignatureApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # \u65B0\u5EFA\u4E00\u4E2A\u7B7E\u540D\u6536\u96C6\u8BF7\u6C42
    # \u65B0\u5EFA\u4E00\u4E2A\u7B7E\u540D\u6536\u96C6\u8BF7\u6C42
    # @param client_id \u5BA2\u6237\u7F16\u53F7
    # @param [Hash] opts the optional parameters
    # @option opts [Signature] :body 
    # @return [SignatureSummary]
    def create_signature(client_id, opts = {})
      data, status_code, headers = create_signature_with_http_info(client_id, opts)
      return data
    end

    # \u65B0\u5EFA\u4E00\u4E2A\u7B7E\u540D\u6536\u96C6\u8BF7\u6C42
    # \u65B0\u5EFA\u4E00\u4E2A\u7B7E\u540D\u6536\u96C6\u8BF7\u6C42
    # @param client_id \u5BA2\u6237\u7F16\u53F7
    # @param [Hash] opts the optional parameters
    # @option opts [Signature] :body 
    # @return [Array<(SignatureSummary, Fixnum, Hash)>] SignatureSummary data, response status code and response headers
    def create_signature_with_http_info(client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SignatureApi#create_signature ..."
      end
      
      # verify the required parameter 'client_id' is set
      fail "Missing the required parameter 'client_id' when calling create_signature" if client_id.nil?
      
      # resource path
      local_var_path = "/clients/{clientId}/signatures".sub('{format}','json').sub('{' + 'clientId' + '}', client_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      _header_accept = ['application/json']
      _header_accept_result = @api_client.select_header_accept(_header_accept) and header_params['Accept'] = _header_accept_result

      # HTTP header 'Content-Type'
      _header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SignatureSummary')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SignatureApi#create_signature\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # \u83B7\u53D6\u7B7E\u7F72\u56FE\u7247
    # \u83B7\u53D6\u7B7E\u7F72\u56FE\u7247
    # @param client_id \u5E94\u7528\u7CFB\u7EDF\u7F16\u53F7
    # @param signature_id \u7B7E\u540D\u7F16\u53F7
    # @param [Hash] opts the optional parameters
    # @return [SignatureFile]
    def get_signature(client_id, signature_id, opts = {})
      data, status_code, headers = get_signature_with_http_info(client_id, signature_id, opts)
      return data
    end

    # \u83B7\u53D6\u7B7E\u7F72\u56FE\u7247
    # \u83B7\u53D6\u7B7E\u7F72\u56FE\u7247
    # @param client_id \u5E94\u7528\u7CFB\u7EDF\u7F16\u53F7
    # @param signature_id \u7B7E\u540D\u7F16\u53F7
    # @param [Hash] opts the optional parameters
    # @return [Array<(SignatureFile, Fixnum, Hash)>] SignatureFile data, response status code and response headers
    def get_signature_with_http_info(client_id, signature_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SignatureApi#get_signature ..."
      end
      
      # verify the required parameter 'client_id' is set
      fail "Missing the required parameter 'client_id' when calling get_signature" if client_id.nil?
      
      # verify the required parameter 'signature_id' is set
      fail "Missing the required parameter 'signature_id' when calling get_signature" if signature_id.nil?
      
      # resource path
      local_var_path = "/clients/{clientId}/signatures/{signatureId}".sub('{format}','json').sub('{' + 'clientId' + '}', client_id.to_s).sub('{' + 'signatureId' + '}', signature_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      _header_accept = ['application/json']
      _header_accept_result = @api_client.select_header_accept(_header_accept) and header_params['Accept'] = _header_accept_result

      # HTTP header 'Content-Type'
      _header_content_type = []
      header_params['Content-Type'] = @api_client.select_header_content_type(_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SignatureFile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SignatureApi#get_signature\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
